<%= search_form_for search, url: path, id: "ransack-search-area" do |f| %>
  <div class="search">
    <div class="search-label"><%= f.label search_content_name %></div>
    <div class="search-field">
      <%= create_search_field(f, search_content_name)%>
    </div>
  </div>
<% end %>
