<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<div>
  <%= link_to('login', '/login') %>
</div>
<div>
  <%= link_to('account新規作成', '/create') %>
</div>
<div>
  <%= link_to('homeへ行く' ,'/home') %>
</div>
