<div id="edit-title">
  <input class="title-form" placeholder="タイトル">
</div>

<div id="edit-main">
  <!--- 投稿一覧やホームに戻るためのサイドバー -->
  <div id="menu-all">
    <div class="side-menu">ここはサイドメニュー</div>
  </div>
  <!-- ここに記事を書く -->
  <div id="edit-region" class="edit-region">
    <div class="edit">
      <textarea class="edit-textarea" name="" cols="30" rows="10" placeholder="記事を書く"></textarea>
    </div>
  </div>

  <!-- ここでタグやカテゴリの設定 -->
  <div id="post-component">
    <div class="side-component">
      カテゴリやタグを設定できるようにする

    </div>
  </div>
</div>
