<div id="edit-title">
  <input class="title-form" placeholder="タイトル">
</div>

<div id="edit-main">
  <!--- 投稿一覧やホームに戻るためのサイドバー -->
  <div id="menu-all">
    <div class="side-menu">
      <ul>
        <li><%= link_to('ホームへ', '/') %></li>
        <li><%= link_to('投稿一覧', '/posts/show') %></li>
        <li>カテゴリー</li>
        <li>タグ</li>
        <li>お気に入り一覧</li>
      </ul>
    </div>
  </div>

  <!-- ここでタグやカテゴリの設定 -->
  <div id="post-component">
    <div class="side-component">
      <ul>
        <li><%= link_to('投稿', '/posts/show') %></li>
        <li>プレビュー</li>
        <li>カテゴリー</li>
        <li>タグ</li>
        <li>サムネイル</li>
      </ul>
    </div>
  </div>

  <!-- ここに記事を書く -->
  <div id="edit-region" class="edit-region">
    <div class="edit">
      <textarea class="edit-textarea" name="" cols="30" rows="40" placeholder="記事を書く"></textarea>
    </div>
  </div>
</div>
