<!-- ここに記事を表示 -->
<div id="show-region" class="show-region">
  <div class="show">
    <ul>
      <% @posts.each do |post| %>
        <li class="post-show">
          <p><%= post.title %></p>
          <pre><%= link_to(post.content, "/posts/#{post.id}/edit") %></pre>
        </li>
      <% end %>
    </ul>
  </div>
</div>
