/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #337ab7;
}

/* body */

body {
  background: #f4f4f4;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

input {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.4;
}

/* ヘッダーのスタイル */

.head-contents {
  position: fixed;
  width: 100%;
  z-index:3;
  font-weight: 800;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  margin-bottom: 50px;
  border-bottom: 2px solid #cccccc;
  .navbar {}
}
.nav > li > a {
  &:active, &:hover {
    color: #ffffff;
    background-color: #74cfae;
    padding: 10px 0px;
  }
}

.head-contents > .navbar {
  > ul {
    list-style: none;
    text-align: right;
    margin-right: 15px;
  }
  li {
    margin-right: 10px;
    display: inline;
  }
}

.flash {
  position: absolute;
  margin-left: 20%;
  transform: translateY(-50px);
  padding: 10px;
  border-left: 3px solid;
  border-left-color: #7fbfff;
  background-color: #e5f2ff;
  width: 80%;
}

#main-content {
  transform: translateY(60px);
  display: flex;
  z-index: 2;
  #left-menu {
    border-right: 2px solid #cccccc;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 20px;
    width: 20%;
    background-color: #fff;
  }
  #center-content {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    width: 65%;
  }
  #right-content {
    width: 20%;
  }
}

