.pagination {
  list-style: none;
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
  .page-item {
    display: block;
    float: left;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background-color: #f4f4f4;
    text-align: center;
    &.active {
      background-color: #f16272;
      a {
        color: #fff;
      }
    }
  }
}
