// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ************** 記事投稿画面スタイル定義 ************** */
/* タイトルのIDのスタイル設定 */ 
#edit-title {
  width: 80%;
  height: 40px;
}

/* 右サイドメニュー */
#post-component {
  right: 0px;
  position: fixed;
  width: 15%;
}

/* タイトルのフォームのスタイル */
.title-form {
  width: 100%;
  height: 100%;
}

/* 記事を書くテキストエリアのスタイル定義 */
.edit-textarea {
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  display: block;
  margin-bottom: 0;
  padding: 10px;
  border: 0;
  font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
  color: #222;
  line-height: 1.5;
  resize: none;
  -webkit-font-smoothing: antialiased;
}

/* 記事を書く領域のスタイルを定義 */
.edit {
  border: 1px double #000;
  width: 80%;
  margin-top: 20px;
}

.category-frame {

}

.category-frame ul {
  list-style: none;
}

/* 投稿ボタンのスタイル */
.update-post { 
  padding: 5px 20px;
  font-size: 1.2em;
  background-color: #1b95e0;
  color: #fff;
}
/* ************** 記事投稿画面スタイル定義 ************** */

/* ************** 記事投稿一覧スタイル定義 ************** */
#show-region {
  width: 80%;
  height: 240px; // TODO: 記事画面の高さを調整する
}

#show-region a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

#show-region ul {
  list-style: none;
}

#show-region li {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.post-show pre {
  overflow: hidden;
  height: 4.5em;
  line-height: 1.5em;
}
/* ************** 記事投稿一覧スタイル定義 ************** */
