// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ************** 記事投稿詳細スタイル定義 ************** */
$BORDER_COLOR: #edf0f4;
#posts-index {
  height: auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  // 記事表示欄
  .posts {
    list-style: none;
    border-top: 1px solid $BORDER_COLOR;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    // 1記事のデザイン
    li {
      margin-bottom: 15px;
      padding: 10px;
      border-bottom: 1px solid $BORDER_COLOR;
      // 記事表示部
      .post {
        width: 60%;
        display: inline-grid;
        margin-right: 5%;
        // タイトル
        .title {
          margin-bottom: 8px;
          display: block;
          overflow-x: hidden;
          // 記事へのリンク
          a {
            font-size: 23px;
            word-break: break-all;
            line-height: 1.3;
          }
        }
        // 記事のコンテンツデザイン
        .content {
          overflow: hidden;
          height: 4.5em;
          line-height: 1.5em;
          color: #a4b1c1;
        }
      }
      // サムネイル
      .thumbnail {
        width: 30%;
        display: inline-grid;
      }
      // 投稿時間
      .post-time {
        font-size: 0.8em;
      }
      // 記事情報 - post-user, comment-count
      .post-info {
        .post-user {
          display: inline;
          a {
            font-size: 0.8em;
          }
        }
        .comment-count {
          display: inline;
          float: right;
          float: 0.8em;
          font-size: 0.8em;
        }
      }
    }
  }
}

#user-posts-index {
  #posts-index {
    .post {
      width: 100%;
      .title {
        margin-bottom: 30px;
        a {
          font-size: 15px;
        }
      }
    }
  }
}

#post-new, #post-edit {
  width: 80%;
  #title {
    border-bottom: 1px solid $BORDER_COLOR;
    height: 60px;
    width: 100%;
    padding: 12px 16px;
    input {
      width: 100%;
      height: 100%;
      text-align: start;
      border-radius: 3px;
      border: 1px solid #eceef1;
    }
  }
  #select-area {
    display: flex;
    border-bottom: 1px solid $BORDER_COLOR;
    height: 60px;
    width: 100%;
    #categories {
      flex-basis: 50%;
      position: relative;
      padding: 10px 16px;
      select {
        width: 100%;
        height: 100%;
        background: #fff;
        border: 1px solid #eceef1;
        border-radius: 3px;
      }
    }
    #post-time {
      flex-basis: 50%;
      position: relative;
      padding: 10px 16px;
      input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 0;
        border: 1px solid #eceef1;
        border-radius: 3px;
      }
    }
  }
  #content {
    padding: 10px 16px;
    border-bottom: 1px solid $BORDER_COLOR;
    textarea {
      width: 100%;
      height: 100%;
      padding: 10px;
      border-radius: 0;
      border: 1px solid #eceef1;
      border-radius: 3px;
    }
  }
  #post-submit {
    text-align: right;
    height: 60px;
    width: 100%;
    padding: 12px 16px;
    input[type="submit"] {
      background: #f16272;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 100%;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      padding: 5px 20px;
      &:hover {
        background: #ee3e52;
      }
    }
    select {
      height: 100%;
      transform: translateY(-2px);
      margin-right: 5px;
      background: #fff;
      border: 1px solid #eceef1;
      border-radius: 3px;
      width: 100px;
    }
  }
}
